<div class="row">
  <div class="col-auto">
    <h2>Welcome, Chef {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Search for recipes here, and add your favorites to your Cookbook!</h3>
    <form class="searchBtn" action="/search/recipe">
        <input type="text" placeholder="Search recipes by keyword: " name="search">
        <button id="btn1" type="submit"><i class="fa fa-search"></i></button>
    </form>

    <form class="searchBtn" action="/search/ingredient">
        <input type="text" placeholder="Search recipes by specific ingredients: " name="search">
        <button id="btn2" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div> 
</div>

{{#each cleanRecipes}}
                <button data-attr="{{id}}">{{title}}</button>
        
{{/each}}

<div>
  <h2>Add to your Cookbook here!</h2>
    <form class="form new-recipe-form">
      <div class="form-group">
        <label for="recipe-name">Recipe Name:</label>
        <input class="form-input" type="text" id="recipe-name" name="recipe-name" />
      </div>
      <div class="form-group">
        <label for="recipe-ingredients">Ingredients:</label>
        <input class="form-input" type="text" id="recipe-ingredients" name="recipe-ingredients" />
      </div>
      <div class="form-group">
        <label for="recipe-desc">Instructions:</label>
        <textarea class="form-input" id="recipe-desc" name="recipe-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Recipe</button>
      </div>
    </form>
</div>  

  {{body}}    

<div>
  {{#if Recipes.length}}
  <div class="col-md-6 project-list">
    <h3>Current Recipes:</h3>

    {{#each recipes as |recipe|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/project/{{recipe.id}}">{{recipe.title}}</a></h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{recipe.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
</div>


<script src="/js/profile.js"></script>
