<div class="recipeCard">
  <button id="cancelBtn" class="btn btn-danger saveBtn">Cancel</button>
  <button
    id="saveBtn"
    class="btn btn-primary saveBtn"
    type="submit"
  >Save</button>
  <h2 id="recTitle">{{{title}}}</h2>

  <h5>Description</h5>
  <img class="recipeImage" src="https://spoonacular.com/recipeImages/{{id}}-312x231.jpg" alt="{{title}}" />
  <p id="recDescription">{{{description}}}</p>

  <h5>Ingredients</h5>
  <p id="recIngredients" class="ingredients">
    {{#each ingredients as |ingredient|}}

      {{{ingredient}}}
      <br />
    {{/each}}
  </p>

  <h5>Directions</h5>
  <p id="recSteps" class="steps">
    {{#each steps as |step|}}

      {{{step}}}
      <br />
    {{/each}}
  </p>

</div>

<script src="/js/recipe.js"></script>