<div class="text-center">
  <h2>{{recipe.title}}</h2>
  <p>{{recipe.description}}</p>
 
 
 
  <p class="ingredients">
    
  </p class"title">

  <body>
    
{{getTitle}}
{{getIngredients}}

  </body>
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p> <input class="btn btn-primary" placeholder="Enter Ingredients"> 
     <input class="btn btn-primary" placeholder="Enter Title">
  </p>
</div>


<script src="../public/js/"></script>