<div class="recipeCard">
  <button
    id="deleteRecipeBtn"
    class="btn btn-danger saveBtn"
    type="submit"
  >Delete</button>
  <h2 id="recTitle">{{{title}}}</h2>

  <h5>Description</h5>
  <img class="recipeImage" src="https://spoonacular.com/recipeImages/{{recipe_id}}-312x231.jpg" alt="{{title}}" />
  <p id="recDescription">{{{description}}}</p>


  <h5>Ingredients</h5>
  <p id="recIngredients" class="ingredients">
    {{{ingredients}}}
  </p>

  <h5>Directions</h5>
  <p id="recSteps" class="steps">
    {{{steps}}}
  </p>

</div>

<script src="/js/delete.js"></script>